<nav class="navbar">
  <div class="logo">
    Event Management Platform
  </div>
  <ul class="nav-links">
    <li>
      <a
        routerLink="/events"
        routerLinkActive="active">
        Events
      </a>
    </li>

    <li>
      <a
        routerLink="/my-bookings"
        routerLinkActive="active">
        My Bookings
      </a>
    </li>

    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active">
        Profile
      </a>
    </li>

  </ul>

  <button class="theme-btn" (click)="toggleTheme()" >
 {{ isDark ? '☀️' : '🌙' }}
  </button>

</nav>
